.ui-audio {
  input[type="range"] {
    width: 80px;
    -webkit-appearance: none !important;
    appearance: none !important;
    height: 7px;
  }
  // input[type="range"]::-webkit-slider-thumb {
  //   -webkit-appearance: none !important;
  //   /* background: blue; */
  //   height: 10px;
  //   width: 10px;
  // }

  // audio::-webkit-media-controls-panel {
  //   background-color: #333;
  // }
  // audio::-webkit-media-controls-play-button,
  // audio::-webkit-media-controls-pause-button,
  // audio::-webkit-media-controls-mute-button,
  // audio::-webkit-media-controls-volume-slider,
  // audio::-webkit-media-controls-current-time-display,
  // audio::-webkit-media-controls-time-remaining-display,
  // audio::-webkit-media-controls-timeline {
  //   color: #fff;
  //   background-color: #444;
  // }
  //
  // // ...existing code...
  // audio::-moz-volume-container,
  // audio::-moz-volume-slider {
  //   background-color: #333;
  // }
  // audio::-moz-volume-thumb {
  //   background-color: #444;
  // }
}
