@import "../../colors.scss";
@import "../../mixins.scss";

.popover-container {
  position: absolute;
  width: 300px;
  min-height: 200px;
  margin-top: 4px;
  padding: 6px;
  right: 10px;
  @include border;
  background: $secondaryLight;
  z-index: $zIndex30;

  .content-header {
    display: flex;
    justify-content: end;

    .pin {
      .icon-button {
        margin: unset;
        background: unset;
        &:hover {
          background-color: $primary;
        }
        &.active {
          background-color: $primary1;
        }
      }
    }
  }
  .content-container {
    .content {
      color: red;
    }
  }
}
