@import "../../colors";
@import "../../mixins";

$heightOfLine: 1.5rem;

.vim-container {
  /* width: unset; */
  height: 100%;
}

.textarea-test-container {
  position: relative;
  width: 100%;
  height: 100%;
  /* border: 1px solid #000; */
  padding: var(--padding);
  padding-top: calc(var(--padding) / 2);
  background: $backgroundColor1;

  .text-display {
    word-wrap: break-word;

    pre {
      align-content: center;
    }

    .cursor {
      position: absolute;
      top: var(--padding);
      left: var(--padding);
      width: 10px;
      height: $heightOfLine;
      background-color: orange;
      opacity: 0.5;
    }
  }

  .text-input {
    position: absolute;
    top: var(--textarea-top);
    width: 100%;
    height: 100%;
    padding: unset;
    line-height: var(--line-height);
    color: $textColor;
    background-color: transparent;
    white-space: pre; // when overflow: scroll is on
    resize: none;
    outline: none;
    border: none;
  }
}

.debugContainer {
  width: 30%;
}
