@import "./colors.scss";

@mixin wordHover {
  cursor: pointer;
  font-weight: 600;
  border-bottom: 1px dashed;
}

@mixin border {
  border: 1px solid $borderColor;
  border-radius: $borderRadius;
}

@mixin borders($color: $borderColor, $size: 1px) {
  border: $size solid $color;
  border-radius: $borderRadius;
}

@mixin cell() {
  padding: 6px;
  border: 1px solid $borderColor1;
  border-bottom: none;
  border-right: none;
  height: var(--cell-height);
}

@mixin highlightWord() {
  font-weight: bold;
  border-bottom: 1px solid $grey;
}

@mixin boxShadow() {
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  // increase the shadow size
  // &:hover {
  // }
}

@mixin reset() {
  padding: unset;
}

@mixin resetInput() {
  outline: none;
  border: none;
  border-radius: unset;
}

// Smartphone Breakpoints
@mixin smartphone {
  @media screen and (max-width: 768px) {
    @content;
  }
}

// Tablet Breakpoints
@mixin tablet-s {
  @media screen and (min-width: 400px) and (max-width: 767px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (min-width: 768px) and (max-width: 1280px) {
    @content;
  }
}

// Laptop Breakpoints
@mixin laptop {
  @media screen and (min-width: 1280px) and (max-width: 1920px) {
    @content;
  }
}

// Extra-large Laptop Breakpoints
@mixin laptop-xl {
  @media screen and (min-width: 2560px) {
    @content;
  }
}

// Usage Example
.example {
  color: black;

  @include smartphone {
    color: blue; // Styles for smartphones
  }

  @include tablet {
    color: green; // Styles for tablets
  }

  @include laptop {
    color: orange; // Styles for laptops
  }

  @include laptop-xl {
    color: red; // Styles for extra-large laptops
  }
}
