$padding: 6px;
$heightOfLine: 1.5rem;

.layout-container {
  display: flex;
  justify-content: end;
  margin-top: 32px;
  margin-right: 24px;
  border: 1px solid #000;
}
.bruh-container {
  width: 200px;
  height: 300px;
}
.bruh-line {
  display: block;
  color: orange;
  min-height: 1rem;
}
.vim-container {
  width: unset;
}
.debugContainer {
  width: 30%;
}

