@import "../../mixins.scss";
@import "../../colors.scss";

@mixin stickyCell() {
  &.sticky-row-coll {
    position: sticky;
    background: $backgroundColor;
    z-index: $zIndexSticky;
    padding-bottom: calc(
      var(--cell-height) - var(--padding) - var(--border-width)
    );
    border-bottom: $border;
  }
}

.grid-test-container {
  margin: 8px;

  .toolbar-container {
    .redo-button,
    .undo-button {
      &.inactive {
        opacity: 0.4;
      }
    }
  }

  .function-bar-container {
    display: flex;
    margin-bottom: 4px;
    .cell-range-display {
      border: 1px solid grey;
      width: 160px;
      padding: 6px;
    }
    .function-bar {
      display: flex;
      flex: 1;
      border: 1px solid grey;
      padding: 6px;
    }
  }

  .spreadsheet-container {
    user-select: none;
    position: relative;
    display: flex;
    height: 80vh;
    /* height: 40vh; */
    overflow: scroll;

    .cell-header {
      @include cell();
      height: calc(var(--cell-height) + 1);
      border: none;
      position: sticky;
      top: 0;
      color: $gridHeaderCellColor;
      background: $backgroundColor;
      z-index: $zIndexEditing2;

      &:hover {
        background: $gridHeaderCellHoverColor;
      }
    }

    .cells-container {
      display: flex;
      width: 100vw;
      height: fit-content; // for sticky
      border-bottom: $border;

      .column-container {
        .column-header {
          display: flex;
          justify-content: space-between;
          width: inherit;
          border-right: $border;
          border-top: $border;
          border-bottom: $border;
          height: calc(var(--cell-height) + var(--border-width));

          .column-header-text {
            cursor: pointer;
          }

          .resize-handler {
            cursor: col-resize;
          }
        }
      }
    }
    .column-container {
      display: inline-block;
      /* border-right: $border; */
      border-left: $border;
      /* display: table-cell; */
      /* display: flex; */
      /* position: relative; */
    }

    .row-header {
      /* margin-right: -10px; // microadjust white space after row header (probably comes from `display: inline-block;`) */
      position: sticky;
      height: fit-content;
      left: 0;
      border-bottom: $border;
      background: $secondaryLight0;
      z-index: $zIndexEditing2;

      .column-header-container {
        border-right: $border;
      }

      .cell {
        &.column-header-corner {
          position: sticky;
          top: 0;
          left: 0;
          height: calc(var(--cell-height) + var(--border-width));
          border-top: $border;
          border-right: $border;
          border-bottom: $border;
          background: $secondaryLight0;
          z-index: $zIndexEditing21;
        }
      }

      .cell-header {
        height: calc(var(--cell-height) + var(--border-width));
        border-top: $border;
        @include stickyCell();

        &:first-of-type {
          border-top: none;
        }
      }
    }
    .row-container {
      &:first-child {
        border-top: none;

        .selection {
          top: 0;
        }
      }
      /* @include cell(); */
      border-top: $border;
      padding: unset;
      height: calc(var(--cell-height) + var(--border-width));

      @include stickyCell();
    }
  }

  .panel-container {
    position: absolute;
    // top: calc(#{$columnHeight}+1px);
    // left: calc(#{$columnWidth}+1px);
    // top: calc(#{$columnHeight} - 1px);
    // left: calc(#{$columnWidth} - 1px);
    top: calc(#{$columnHeight});
    left: calc(#{$columnWidth});
    // top: $columnHeight;
    // left: $columnWidth;

    .panel-item-container {
      position: absolute;
      top: 35px;
      left: 90px;
      /* background: purple; */
      border: 1px solid black;

      &:hover {
        background: yellow;
        cursor: pointer;
      }

      textarea {
        @include reset();
        /* opacity: 0.2; */
        padding: 1px; // based the cell
        font-size: 16px;
      }

      /* DEV  */
      .panel-item {
        background: inherit;
      }

      .options-container {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}

@supports (not (-moz-appearance: button)) and (contain: paint) and
  (-webkit-appearance: none) {
  .grid-test-container {
    .row-header {
      margin-right: -5px; // microadjust white space after row header (probably comes from `display: inline-block;`)
    }
  }
}
