$columnWidth: 36px;

@mixin cell() {
  padding: 4px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  min-width: $columnWidth;
  min-height: $columnWidth;
}

.grid-test-container {
  margin: 8px;
  user-select: none;
  position: relative;

  /* DEV  */
  .test-component {
    position: absolute;
    width: 111px;
    height: 37px;
    border: 1px solid black;
    top: 35px;
    left: 90px;
    background: purple;
    /* opacity: 0.7; */

    &:hover {
      background: yellow;
      cursor: pointer;
    }
  }

  .cell {
    @include cell();
    &:hover {
      background: red;
    }
    &.selected-cell {
      background: orange;
    }
  }
  .cell-header {
    @include cell();
    &:hover {
      background: blue;
    }
  }

  .column-container {
    display: inline-block;
  }

  .row-header {
    margin-right: -10px; // microadjust white space after row header (probably comes from `display: inline-block;`)
  }
  .row-container {
  }
}

@supports (not (-moz-appearance: button)) and (contain: paint) and
  (-webkit-appearance: none) {
  .grid-test-container {
    .row-header {
      margin-right: -5px; // microadjust white space after row header (probably comes from `display: inline-block;`)
    }
  }
}
