@font-face {
  font-family: "FiraMonoNerdFont";
  src: url("fonts/FiraMonoNerdFont/FiraMonoNerdFont-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

// @font-face {
//   font-family: "FiraMonoNerdFont";
//   /* src: url("./FiraMonoNerdFont-Medium.otf") format("otf"); */
//   src: url("/fonts/FiraMonoNerdFont/FiraMonoNerdFont-Medium.otf") format("opentype");
//   font-weight: 700;
//   font-style: normal;
// }
//
// @font-face {
//   font-family: "FiraMonoNerdFont";
//   src: url("/fonts/FiraMonoNerdFont/FiraMonoNerdFont-Bold.otf") format("opentype");
//   font-weight: 900;
//   font-style: normal;
// }
