@import "../../colors.scss";
@import "../../mixins.scss";

.autocomplete-container {
  .suggesion-list {
    position: absolute;
    max-height: 75vh;
    overflow: scroll;
    padding: unset;
    background: $white;
    @include borders($size: 1.5px);
    @include boxShadow();
    margin: 0;

    .suggestion {
      padding: 8px 12px;
      list-style: none;
      border-bottom: 1px solid $grey;
      .highlight {
        @include highlightWord();
      }
      &:hover {
        cursor: pointer;
        background-color: $hoverColor;
      }
      &.active {
        background-color: $secondary;
      }

      .suggestion-content {
        .suggestion-top-row {
          font-size: $fontSizeS;
          color: $grey1;
          margin-bottom: 6px;
        }
        .suggestion-main-row {
          display: flex;
          justify-content: space-between;

          .right {
            font-size: $fontSizeS;
          }
        }
        .suggestion-bottom-row {
          display: flex;
          justify-content: space-between;
          margin-top: 6px;
          font-size: $fontSizeS;
          color: $grey1;
        }
      }
    }
  }
}
