@import "../../colors";

$tabBarHeight: 36px;
$zIndexTabs: 20;
$zIndexDrawer: 10;

.tab-drawer-container {
  height: 100%;

  .tab-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: $tabBarHeight;
    display: flex;
    background: $primaryDark;
    color: $white;
    justify-content: space-around;
    z-index: $zIndexTabs;

    .tab-bar__tab {
      flex: 1;
      text-align: center;
      cursor: pointer;
      padding: 10px 0;

      &:hover {
        background: $primaryDark1;
      }

      &.active {
        background: $primaryDark0;
        border-top: 3px solid $primaryDark;
        border-bottom: 3px solid $primaryDark;
        &:hover {
          background: $primaryDark1;
        }
      }
    }
  }

  .drawer {
    position: fixed;
    bottom: 20px;
    width: calc(100% - 2rem);
    height: 0;
    margin: 1rem;
    border: 1px solid $borderColor;
    border-radius: $borderRadius;
    margin-bottom: -3 * $drawerPadding;
    padding: $drawerPadding;
    background: $secondaryLight;
    /* overflow: hidden; */
    transition: height 0.3s ease;
    z-index: $zIndexDrawer;

    &.active {
      height: 300px;
      bottom: $tabBarHeight;
      margin-bottom: unset;
      /* overflow: scroll; */
    }

    .drawer__content {
      height: 100%;
      overflow: scroll;
    }
  }
}
