@import "../../../mixins.scss";
@import "../../../colors.scss";

.cell {
  height: var(--cell-height);
  padding: unset;
  position: relative;

  &:hover {
    background: $gridCellHoverBackground;
  }
  &.selected-cell {
    z-index: $zIndexHover2;

    .content {
      &.overflown {
        overflow: unset;
        z-index: $zIndexEditing;

        &.clip-text {
          overflow: unset;
        }
      }

      .read-only {
      }
    }
  }

  .content {
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;

    &.overflown {
      position: relative;
      background: $backgroundColor;
      z-index: 100;

      &:hover {
        height: 32px;
        border: unset;
        /* border-bottom: 1px solid $borderColor1; // based on cell() */
        background: $gridCellHoverBackground;
        z-index: $zIndexHover2 + 1;
      }
      &.clip-text {
        overflow: hidden;
      }
    }

    .input-container {
      // width: inherit;
      height: inherit;
      // position: absolute;
      // top: 0;
      // left: 0;
      // border-radius: unset;
      // line-height: $lineHeightCells;
      //
      // &.editing {
      //   background: $backgroundColor1;
      //   z-index: $zIndexEditing;
      // }
      //
      // // make vim editor lines also word-wrap
      // // PROBLEM: with word-wrap logic
      // // .editorText {
      // //   position: absolute;
      // //   top: 0;
      // //   left: 0;
      // //   line-height: calc(#{$columnHeight} - 1px);
      // //   color: unset;
      // //   white-space: normal;
      // //   width: 90vw;
      // //   background: $backgroundColor1;
      // // }
    }

    input {
      width: inherit;
      height: inherit;
      position: absolute;
      padding: 2px 6px 6px 5px;
      top: 0;
      left: 0;
      border-radius: unset;

      &.editing {
        background: $backgroundColor1;
        z-index: $zIndexEditing;
      }
    }

    .read-only {
      overflow: hidden;
      // Why was this needed? Was used in commit 8387afc0e7d7f70808b88890ce9c267ba33206ad "feat(grid): putCursorAtFirstNonWhiteSpace"
      height: var(--cell-height);
      padding: calc(var(--cell-height) / 4);

      &.overflown {
        position: absolute;
        top: 0;
        left: 0;
        color: unset;
        /* white-space: normal; */ // ON->OFF: when cells seleced, had weird behavior
        white-space: pre-wrap; // OFF->ON: not wrapping when cell selected for longer lines
        width: 95vw;
        background: $gridCellHoverBackground;
      }
    }
  }
  .content-container {
  }

  .selection {
    position: absolute;
    width: calc(100% + 2px); // +2px: there is a white gap due to border-right
    height: calc(100% + 2px); // +1px: there is a white gap due to border-right
    top: -1px;
    left: -1px;
    border: 1px solid $red;
    z-index: $zIndexBaseBelow;
  }
}
