@import "../../../mixins.scss";
@import "../../../colors.scss";

.cell {
  @include cell();
  padding: unset;
  position: relative;
  /* height: calc(#{$columnHeight} - 1px); */

  &:hover {
    background: $red;
  }
  &.selected-cell {
    /* background: $orange1; */
    z-index: $zIndexHover2;
    /* opacity: 0.5; */

    // .content.overflown {
    //   background: $orange1;
    //   background: unset;
    // }
  }

  .content {
    /* position: absolute; */
    height: $columnHeight;
    padding: 6px;
    overflow: scroll;
    text-overflow: clip;
    white-space: nowrap;

    &.overflown {
      position: relative;
      border-bottom: 1px solid $borderColor;
      background: $backgroundColor;
      z-index: 100;
      &:hover {
        height: 32px;
        border: unset;
        border-bottom: 1px solid $borderColor;
        z-index: $zIndexHover2 + 1;

        background: $red;
      }
    }

    input {
      width: inherit;
      height: inherit;
      position: absolute;
      padding: 2px 6px 6px 5px;
      top: 0;
      left: 0;
      border-radius: unset;

      &.editing {
        background: $backgroundColor1;
        z-index: $zIndexEditing;
      }
    }
  }
  .content-container {
  }

  .selection {
    position: absolute;
    width: calc(100% + 1px); // +1px: there is a white gap due to border-right
    height: 100%;
    top: 0;
    /* border: 2px solid green; */
    background: $orange1;
    opacity: 0.5;
    z-index: 300;
  }
}
