@import './ui/reset.scss';

$border-color: #eee;

body {
  font-family: mono, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: unset;
}

.message {
  background-color: #94aa7d;
}

.typing-container {
  color: grey;
  border: 1px solid $border-color;

  .typed-text {
    color: black;
  }
  .current-letter {
    border-bottom: 1px solid black;
  }
  .text-to-type {
    color: grey;
  }
}

.remember-container {
  border: 1px solid $border-color;
  .remember-word {
    color: grey;
  }
}
