body {
  font-family: mono, sans-serif;
}

.message {
  background-color: #94aa7d;
}

.typing-container {
  color: grey;
  .typed-text {
    color: black;
  }
  .current-letter {
    border-bottom: 1px solid black;
  }
  .text-to-type {
    color: grey;
  }
}
