@import "../../colors.scss";
@import "../../mixins.scss";

.labeled-words-container {
  font-size: $fontSizeS;
  font-style: italic;
  line-height: 1.2rem;

  .word {
    &:hover {
      @include wordHover;
    }
  }
}
