.topics-container {
  width: 100%;
  height: 100%;
  display: flex;

  .topics-list-container {
    width: 30%;
    height: 100%;

    .topics-list-header {
      display: flex;
      justify-content: space-between;
    }

    .topics-list {
      height: 80%;
      border: 1px solid black;

      .topic {
        padding: 10px;
        &:hover {
          background: #ccc;
          cursor: pointer;
        }
        &.active {
          background: #ddd;
        }

        .topic-title {
          .new-topic-title {
            width: 100%;
          }
        }
      }
    }
  }

  .selected-topic-container {
    margin-left: 12px;
    width: 60%;

    .content-list-header {
      display: flex;
      justify-content: space-between;
    }

    .content-container {
      height: 80%;
      border: 1px solid black;
      overflow: scroll;

      .content {
        padding: 8px 0;
        display: flex;
        justify-content: center;

        textarea {
          width: calc(100% - 20px);
        }
      }
    }
  }
}
